In [1]:
import os
import glob
from glob import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data imports

In [2]:
# path muss angepasst werden
file_path_2016 = "data/2016/Unfallorte_2016_LinRef.txt"
file_path_2017 = "data/2017/Unfallorte2017_LinRef.txt"

In [3]:
df2016_raw = pd.read_csv(file_path_2016,sep=";")
df2017_raw = pd.read_csv(file_path_2017,sep=";")

/Users/philippkahler/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df2016_raw.head()

,FID,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstig,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,0,1,1,0,53,120,2016,1,9,5,...,0,1,0,0,0,0,606982.3940,5.954660e+06,10.621659,53.729615
1,1,2,1,0,57,10,2016,1,17,3,...,0,1,0,0,0,0,574882.5330,6.011441e+06,10.149176,54.245453
2,2,3,1,0,62,8,2016,1,0,5,...,0,1,0,0,0,0,599934.6875,5.964609e+06,10.518094,53.820403
3,3,4,1,0,3,0,2016,1,15,5,...,1,0,0,0,0,1,610709.3487,5.968284e+06,10.683021,53.851243
4,4,5,1,0,55,28,2016,1,14,1,...,0,1,0,0,0,0,605690.7904,6.009152e+06,10.620986,54.219459

In [5]:
df2017_raw.head()

,OBJECTID,UIDENTSTLA,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstPKW,IstFuss,IstKrad,IstSonstig,LICHT,STRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,1,1170113152013852017,1,0,55,12,2017,1,5,6,...,1,0,0,0,2,2,605079.4229,6.001758e+06,10.609031,54.153150
1,2,1170113171013912017,1,0,60,53,2017,1,6,6,...,0,1,0,1,2,1,582297.2184,5.969289e+06,10.251498,53.865551
2,3,1170106105132242017,1,0,61,11,2017,1,18,6,...,1,0,0,0,2,1,522799.3000,5.990576e+06,9.348344,54.062897
3,4,1170114152013542018,1,0,55,42,2017,1,12,7,...,1,0,0,0,0,0,616128.9378,5.981557e+06,10.770405,53.969302
4,5,1170106161013732017,1,0,62,60,2017,1,8,6,...,1,0,0,0,0,1,581575.9987,5.934905e+06,10.231475,53.556684

In [6]:
# new dataframe (2016 + 2017)
dfs = [df2016_raw,df2017_raw]
df_concat = pd.concat(dfs)

In [8]:
df2016_raw.shape

(151673, 25)

In [9]:
df2017_raw.shape

(195229, 24)

In [10]:
df_concat.shape

(346902, 28)

In [11]:
df_concat.head()

,FID,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstKrad,IstGkfz,IstSonstig,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84,UIDENTSTLA,LICHT,STRZUSTAND
0,0.0,1,1,0,53,120,2016,1,9,5,...,0,0.0,0,606982.3940,5.954660e+06,10.621659,53.729615,NaN,NaN,NaN
1,1.0,2,1,0,57,10,2016,1,17,3,...,0,0.0,0,574882.5330,6.011441e+06,10.149176,54.245453,NaN,NaN,NaN
2,2.0,3,1,0,62,8,2016,1,0,5,...,0,0.0,0,599934.6875,5.964609e+06,10.518094,53.820403,NaN,NaN,NaN
3,3.0,4,1,0,3,0,2016,1,15,5,...,0,0.0,1,610709.3487,5.968284e+06,10.683021,53.851243,NaN,NaN,NaN
4,4.0,5,1,0,55,28,2016,1,14,1,...,0,0.0,0,605690.7904,6.009152e+06,10.620986,54.219459,NaN,NaN,NaN

In [13]:
df_concat.loc[df_concat["STRZUSTAND"]>0]

,FID,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstKrad,IstGkfz,IstSonstig,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84,UIDENTSTLA,LICHT,STRZUSTAND
0,NaN,1,1,0,55,12,2017,1,5,6,...,0,NaN,0,605079.4229,6.001758e+06,10.609031,54.153150,1170113152013852017,2.0,2.0
1,NaN,2,1,0,60,53,2017,1,6,6,...,0,NaN,1,582297.2184,5.969289e+06,10.251498,53.865551,1170113171013912017,2.0,1.0
2,NaN,3,1,0,61,11,2017,1,18,6,...,0,NaN,0,522799.3000,5.990576e+06,9.348344,54.062897,1170106105132242017,2.0,1.0
4,NaN,5,1,0,62,60,2017,1,8,6,...,0,NaN,0,581575.9987,5.934905e+06,10.231475,53.556684,1170106161013732017,0.0,1.0
5,NaN,6,1,0,59,159,2017,1,8,7,...,0,NaN,1,528524.9806,6.052853e+06,9.441783,54.622308,1170107105132892017,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195222,NaN,195223,10,0,45,117,2017,12,9,3,...,0,NaN,0,363117.3970,5.460081e+06,7.117998,49.278146,10171205009542505071,0.0,1.0
195225,NaN,195226,10,0,45,114,2017,12,15,2,...,0,NaN,0,379373.3275,5.464018e+06,7.340207,49.316969,10171204009522504181,0.0,1.0
195226,NaN,195227,10,0,41,100,2017,12,18,2,...,0,NaN,1,353494.3553,5.456150e+06,6.987211,49.240583,10171204009022504541,2.0,1.0
195227,NaN,195228,10,0,45,114,2017,12,17,1,...,0,NaN,0,379047.5623,5.466159e+06,7.335078,49.336158,10171203009522503241,2.0,1.0
195228,NaN,195229,10,0,43,114,2017,12,18,1,...,0,NaN,0,366164.4450,5.466805e+06,7.157615,49.339277,10171203009322503331,2.0,2.0

## Data cleansing

In [ ]:
# Zuweisung zu neuer Spalte mit Namen `x_coord_short`
df_raw['x_coord_short']=round(df_raw['XGCSWGS84'],3)
df_raw['y_coord_short']=round(df_raw['YGCSWGS84'],3)

In [ ]:
df_raw.columns

In [ ]:
df_raw.head()

In [ ]:
print('a')

In [ ]:
df = df_raw

## Data visualising

In [ ]:
sns.countplot(data=df, x="UMONAT")

## Modelling