In [15]:
import os
import glob
from glob import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data imports

In [16]:
# path muss angepasst werden
file_path = "data/2016/Unfallorte_2016_LinRef.txt"

In [17]:
df_raw = pd.read_csv(file_path,sep=";")

In [33]:
df_raw.head()

,FID,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstFuss,IstKrad,IstGkfz,IstSonstig,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84,x_coord_short,y_coord_short
0,0,1,1,0,53,120,2016,1,9,5,...,0,0,0,0,606982.3940,5.954660e+06,10.621659,53.729615,10.622,53.730
1,1,2,1,0,57,10,2016,1,17,3,...,0,0,0,0,574882.5330,6.011441e+06,10.149176,54.245453,10.149,54.245
2,2,3,1,0,62,8,2016,1,0,5,...,0,0,0,0,599934.6875,5.964609e+06,10.518094,53.820403,10.518,53.820
3,3,4,1,0,3,0,2016,1,15,5,...,0,0,0,1,610709.3487,5.968284e+06,10.683021,53.851243,10.683,53.851
4,4,5,1,0,55,28,2016,1,14,1,...,0,0,0,0,605690.7904,6.009152e+06,10.620986,54.219459,10.621,54.219

## Data cleansing

In [30]:
# Zuweisung zu neuer Spalte mit Namen `x_coord_short`
df_raw['x_coord_short']=round(df_raw['XGCSWGS84'],3)
df_raw['y_coord_short']=round(df_raw['YGCSWGS84'],3)

In [31]:
df_raw.columns

Index(['FID', 'OBJECTID', 'ULAND', 'UREGBEZ', 'UKREIS', 'UGEMEINDE', 'UJAHR',
       'UMONAT', 'USTUNDE', 'UWOCHENTAG', 'UKATEGORIE', 'UART', 'UTYP1',
       'ULICHTVERH', 'IstStrasse', 'IstRad', 'IstPKW', 'IstFuss', 'IstKrad',
       'IstGkfz', 'IstSonstig', 'LINREFX', 'LINREFY', 'XGCSWGS84', 'YGCSWGS84',
       'x_coord_short', 'y_coord_short'],
      dtype='object')

In [32]:
df_raw.head()

,FID,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstFuss,IstKrad,IstGkfz,IstSonstig,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84,x_coord_short,y_coord_short
0,0,1,1,0,53,120,2016,1,9,5,...,0,0,0,0,606982.3940,5.954660e+06,10.621659,53.729615,10.622,53.730
1,1,2,1,0,57,10,2016,1,17,3,...,0,0,0,0,574882.5330,6.011441e+06,10.149176,54.245453,10.149,54.245
2,2,3,1,0,62,8,2016,1,0,5,...,0,0,0,0,599934.6875,5.964609e+06,10.518094,53.820403,10.518,53.820
3,3,4,1,0,3,0,2016,1,15,5,...,0,0,0,1,610709.3487,5.968284e+06,10.683021,53.851243,10.683,53.851
4,4,5,1,0,55,28,2016,1,14,1,...,0,0,0,0,605690.7904,6.009152e+06,10.620986,54.219459,10.621,54.219

In [34]:
df = df_raw

## Data visualising

## Modelling