In [10]:
import os
import glob
from glob import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data imports

In [11]:
# path muss angepasst werden
file_path_2016 = "data/2016/Unfallorte_2016_LinRef.txt"
file_path_2017 = "data/2017/Unfallorte2017_LinRef.txt"
file_path_2018 = "data/2018/Unfallorte2018_LinRef.txt"
file_path_2019 = "data/2019/Unfallorte2019_LinRef.txt"

In [12]:
df2016_raw = pd.read_csv(file_path_2016,sep=";")
df2017_raw = pd.read_csv(file_path_2017,sep=";")
df2018_raw = pd.read_csv(file_path_2018,sep=";")
df2019_raw = pd.read_csv(file_path_2019,sep=";")

C:\Users\nschumpp\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
df2016_raw.head()

,FID,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstig,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,0,1,1,0,53,120,2016,1,9,5,...,0,1,0,0,0,0,606982.3940,5.954660e+06,10.621659,53.729615
1,1,2,1,0,57,10,2016,1,17,3,...,0,1,0,0,0,0,574882.5330,6.011441e+06,10.149176,54.245453
2,2,3,1,0,62,8,2016,1,0,5,...,0,1,0,0,0,0,599934.6875,5.964609e+06,10.518094,53.820403
3,3,4,1,0,3,0,2016,1,15,5,...,1,0,0,0,0,1,610709.3487,5.968284e+06,10.683021,53.851243
4,4,5,1,0,55,28,2016,1,14,1,...,0,1,0,0,0,0,605690.7904,6.009152e+06,10.620986,54.219459

In [14]:
df2017_raw.head()

,OBJECTID,UIDENTSTLA,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstPKW,IstFuss,IstKrad,IstSonstig,LICHT,STRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,1,1170113152013852017,1,0,55,12,2017,1,5,6,...,1,0,0,0,2,2,605079.4229,6.001758e+06,10.609031,54.153150
1,2,1170113171013912017,1,0,60,53,2017,1,6,6,...,0,1,0,1,2,1,582297.2184,5.969289e+06,10.251498,53.865551
2,3,1170106105132242017,1,0,61,11,2017,1,18,6,...,1,0,0,0,2,1,522799.3000,5.990576e+06,9.348344,54.062897
3,4,1170114152013542018,1,0,55,42,2017,1,12,7,...,1,0,0,0,0,0,616128.9378,5.981557e+06,10.770405,53.969302
4,5,1170106161013732017,1,0,62,60,2017,1,8,6,...,1,0,0,0,0,1,581575.9987,5.934905e+06,10.231475,53.556684

In [16]:
# new dataframe (2016 + 2017)
dfs = [df2016_raw,df2017_raw]
df_concat = pd.concat(dfs)
# new datafram (2016 + 2017 + 2018 + 2019)
df_all = [df2016_raw,df2017_raw,df2018_raw,df2019_raw]
df_concat_all = pd.concat(df_all)

In [17]:
df2016_raw.shape

(151673, 25)

In [21]:
df2017_raw.shape

(195229, 24)

In [22]:
df2018_raw.shape

(211868, 24)

In [23]:
df2019_raw.shape

(268370, 24)

In [24]:
df_concat_all.shape

(827140, 30)

In [29]:
df_concat.head()

,FID,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstKrad,IstGkfz,IstSonstig,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84,UIDENTSTLA,LICHT,STRZUSTAND
0,0.0,1,1,0,53,120,2016,1,9,5,...,0,0.0,0,606982.3940,5.954660e+06,10.621659,53.729615,NaN,NaN,NaN
1,1.0,2,1,0,57,10,2016,1,17,3,...,0,0.0,0,574882.5330,6.011441e+06,10.149176,54.245453,NaN,NaN,NaN
2,2.0,3,1,0,62,8,2016,1,0,5,...,0,0.0,0,599934.6875,5.964609e+06,10.518094,53.820403,NaN,NaN,NaN
3,3.0,4,1,0,3,0,2016,1,15,5,...,0,0.0,1,610709.3487,5.968284e+06,10.683021,53.851243,NaN,NaN,NaN
4,4.0,5,1,0,55,28,2016,1,14,1,...,0,0.0,0,605690.7904,6.009152e+06,10.620986,54.219459,NaN,NaN,NaN

In [30]:
df_concat_all.head()

,FID,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstSonstig,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84,UIDENTSTLA,LICHT,STRZUSTAND,OBJECTID_1,IstSonstige
0,0.0,1.0,1,0,53,120,2016,1,9,5,...,0.0,606982.3940,5.954660e+06,10.621659,53.729615,NaN,NaN,NaN,NaN,NaN
1,1.0,2.0,1,0,57,10,2016,1,17,3,...,0.0,574882.5330,6.011441e+06,10.149176,54.245453,NaN,NaN,NaN,NaN,NaN
2,2.0,3.0,1,0,62,8,2016,1,0,5,...,0.0,599934.6875,5.964609e+06,10.518094,53.820403,NaN,NaN,NaN,NaN,NaN
3,3.0,4.0,1,0,3,0,2016,1,15,5,...,1.0,610709.3487,5.968284e+06,10.683021,53.851243,NaN,NaN,NaN,NaN,NaN
4,4.0,5.0,1,0,55,28,2016,1,14,1,...,0.0,605690.7904,6.009152e+06,10.620986,54.219459,NaN,NaN,NaN,NaN,NaN

In [50]:
#zwei Bedingungen müssen erfüllt sein
df_concat_all.loc[(df_concat_all["STRZUSTAND"]>0) & (df_concat_all["IstSonstig"]>0)]

,FID,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstSonstig,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84,UIDENTSTLA,LICHT,STRZUSTAND,OBJECTID_1,IstSonstige
1,NaN,2.0,1,0,60,53,2017,1,6,6,...,1.0,582297.2184,5.969289e+06,10.251498,53.865551,1170113171013912017,2.0,1.0,NaN,NaN
5,NaN,6.0,1,0,59,159,2017,1,8,7,...,1.0,528524.9806,6.052853e+06,9.441783,54.622308,1170107105132892017,0.0,2.0,NaN,NaN
7,NaN,8.0,1,0,58,50,2017,1,5,1,...,1.0,560157.8496,6.019535e+06,9.924870,54.320131,1170115145013012017,2.0,2.0,NaN,NaN
20,NaN,21.0,1,0,55,35,2017,1,7,5,...,1.0,613637.2897,5.984050e+06,10.733369,53.992251,1170112105132912017,2.0,2.0,NaN,NaN
22,NaN,23.0,1,0,56,39,2017,1,14,5,...,1.0,552398.2415,5.944609e+06,9.792697,53.647625,1170112171013272017,0.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211770,NaN,NaN,15,0,81,455,2018,12,13,6,...,1.0,645111.4222,5.858541e+06,11.155304,52.857016,NaN,NaN,1.0,211771.0,NaN
211773,NaN,NaN,15,0,2,0,2018,12,16,1,...,1.0,705657.0300,5.703711e+06,11.959688,51.447186,NaN,NaN,1.0,211774.0,NaN
211820,NaN,NaN,15,0,2,0,2018,12,8,5,...,1.0,706092.3072,5.708935e+06,11.968988,51.493933,NaN,NaN,1.0,211821.0,NaN
211844,NaN,NaN,15,0,2,0,2018,12,16,7,...,1.0,707718.3475,5.703202e+06,11.989011,51.441861,NaN,NaN,1.0,211845.0,NaN
211849,NaN,NaN,15,0,2,0,2018,12,17,7,...,1.0,706237.3750,5.706723e+06,11.969784,51.474017,NaN,NaN,1.0,211850.0,NaN

## Data cleansing

In [26]:
# Zuweisung zu neuer Spalte mit Namen `x_coord_short`
df_raw['x_coord_short']=round(df_raw['XGCSWGS84'],3)
df_raw['y_coord_short']=round(df_raw['YGCSWGS84'],3)

NameError: name 'df_raw' is not defined

In [ ]:
df_raw.columns

In [ ]:
df_raw.head()

In [ ]:
print('a')

In [ ]:
df = df_raw

## Data visualising

In [ ]:
sns.countplot(data=df, x="UMONAT")

## Modelling